@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
 html{
     color: black;
     margin: auto;
     position: relative;
     font-family: 'Raleway', sans-serif;
    
 }
 body {
     margin: 0;
 }
a:hover{
text-decoration: none;

}
a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 0 30px; 
}
#header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .choix {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    padding-top: 0;
}
header li {
    list-style: none;
}
#container {
    margin: 0 auto;
    padding: 0 20px;
}
.logo {
    padding-top: 10px;
    width: 40px;
    margin: 0;
}
.choix a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc ;
    padding-top: 10px;
}

.inscription {
font-weight: bolder;
color: #0065fc;
}

 /* header titre */

.titre{
margin-bottom: 45px;
 }
 .titre p {
     margin-top: 10px;
     font-size: 17px;
 }
 .titre h1 {
     font-size:20px ;
 }
 /* header recherche */
 .recherche {
     display: flex;   
 }
 .form_btn {
     display: flex;
 }
 .icon_localisation {
    padding: 15px 5px 0 20px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    width: 30px;
    height: 40px;
    font-size: 20px;
    
 }
.search_btn {
    height: 50px;
    font-size: 22px;
}
.go_btn {
    height: 56px;
    width: 135px;
    background: #0065fc;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 18px;
}
/* filtre */
.filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.filtre h3 {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 50px;
}
.filtre_selection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #deebff;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 25px ;

}
.filtre_text {
    border: 2px solid #f2f2f2;
    padding: 0 10px;
    font-size: 18px;
    height: 35px;
    border-radius: 25px;
    padding-top: 10px;
}
.filtre_selection:hover{
    background-color: #0065fc;
    color: white;
    cursor: pointer;
}





