@font-face {
  font-family:"Raleway";
  src: url(./assets/Raleway-VariableFont_wght.ttf);
}

html {
  color: black;
  margin: auto;
  position: relative;
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
}
.navbar:hover {
  text-decoration: none;
}
.navbar {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 30px;
}
#header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .choix {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 0;
}
header li {
  list-style: none;
}
#container {
  margin: 0 auto;
  padding: 0 20px;
}
.logo {
  padding-top: 10px;
  width: 40px;
  margin: 0;
}
#header_top .choix a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 10px;
}

.inscription {
  font-weight: bolder;
  color: #0065fc;
  margin: 0 30px;
  text-decoration: none;
}
.inscription:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 10px;
}
/* header titre */

.titre {
  margin-bottom: 45px;
}
.titre p {
  margin-top: 10px;
  font-size: 17px;
}
.titre h1 {
  font-size: 20px;
}
/* header recherche */
.recherche {
  display: flex;
  padding-left: 15px;
}
.form_btn {
  display: flex;
}
.icon_localisation {
  padding: 15px 5px 0 20px;
  background-color: #f2f2f2;
  border-radius: 20px 0px 0px 20px;
  width: 30px;
  height: 40px;
  font-size: 20px;
}
.search_btn {
  height: 50px;
  font-size: 22px;
  border: #deebff solid 1px;
  font-weight: bolder;
}

.go_btn {
  height: 55px;
  width: 135px;
  background: #0065fc;
  color: white;
  border: 1px solid #deebff;
  border-radius: 0 20px 20px 0;
  font-size: 18px;
  margin-left: -1px;
}
.icon_loupe {
  display: none;
}
/* filtre */
.filtre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.filtre h3 {
  font-size: 18px;
  font-weight: bolder;
  margin-right: 50px;
}
.filtre_selection {
  height: 50px;
  border: 2px solid #d4d4d4;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px 0 0;
  background-color: white;
}
.filtre_selection i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtres_icons {
  font-size: 20px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
  margin-left: -2px;
}
.filtre_text {
  font-size: 18px;
  font-weight: bolder;
  padding: 0 10px;
}
.filtre_selection:hover i {
  background-color: #0065fc;
  color: white;
  transition: all 0.3s ease-in-out;
}
.filtre_selection:hover {
  background-color: #deebff;
  transition: all 0.3s ease-in-out;
}
.header_info {
  display: flex;
  align-items: center;
  font-size: 60%;
  margin-bottom: 25px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #dcdee0;
  margin: 0 5px 0 0;
  color: #0065fc;
}
.header_info p {
  font-size: 16px;
}
/* main */
#main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
/* hébergements à Marseille */
#hebergements_gauche {
  background-color: #f2f2f2;
  width: 65%;
  border-radius: 20px;
}
.hebergements {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  height: 95%;
  width: 90%;
}
.legend {
  padding-left: 10px;
}
.hebergements_grille figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 4px 4px 11px 0 #9a9a9a;
  padding: 5px 5px 10px 5px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.hebergements_grille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
}
.hebergements_grille a {
  width: 30%;
  text-decoration: none;
  color: black;
}
.hebergements h2 {
  font-size: 22px;
  margin: 50px 0 25px 0;
}
.hebergements_marseille {
  margin: 30px 0;
}
.hebergements_grille figure:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image1 {
  background-image: url(./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.image2 {
  background-image: url(./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.image3 {
  background-image: url(./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.image4 {
  background-image: url(./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.image5 {
  background-image: url(./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.image6 {
  background-image: url(./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  width: 100%;
  height: 115px;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 20px 20px 0 0;
}
.etoile i {
  font-size: 12px;
  color: #0065fc;
}
.hebergements_grille a:nth-child(1) .etoile i:nth-child(5) {
  color: #e4e4e4;
}
.hebergements_grille a:nth-child(3) .etoile i:nth-child(5) {
  color: #e4e4e4;
}
.hebergements_grille a:nth-child(4) .etoile i:nth-child(4) {
  color: #e4e4e4;
}
.hebergements_grille a:nth-child(4) .etoile i:nth-child(5) {
  color: #e4e4e4;
}
.hebergements_grille a:nth-child(5) .etoile i:nth-child(5) {
  color: #e4e4e4;
}
.plus {
  font-size: 18px;
  border: none; 
  font-weight: bolder;
  color: black;
  margin: 0;
  padding-left: 50px;
  background-color: #f2f2f2;
}
/* hébergements les plus populaires */
#hebergements_droite {
  background-color: #f2f2f2;
  width: 30%;
  border-radius: 20px;
}
.populaires h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 22px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.titre_droite {
  display: flex;
  justify-content: space-around;
}
.icon_populaires {
  padding-top: 50px;
  font-size: 25px;
}
.populaires_marseille {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 4px 4px 11px 0 #9a9a9a;
  margin-bottom: 45px;
}
.legend_droite {
  padding-left: 20px;
  width: 200px;
}
.legend_droite h3 {
  margin: 10px 0 0 0;
}
.legend_droite p {
  margin: 10px 0 40px 0;
}
.image_p1 {
  background-image: url(./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  border-radius: 20px 0 0 20px;
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: 25% 75%;
}
.image_p2 {
  background-image: url(./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  border-radius: 20px 0 0 20px;
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: 25% 75%;
}
.image_p3 {
  background-image: url(./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  border-radius: 20px 0 0 20px;
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: 25% 75%;
}
.populaire_grille a {
  text-decoration: none;
  color: black;
}
.populaire_grille figure:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.populaire_etoile {
  color: #0065fc;
  margin-left: 10px;
  font-size: 10px;
}
.populaire_grille a:nth-child(2) .populaire_etoile i:nth-child(5) {
  color: #e4e4e4;
}
.populaire_grille a:nth-child(3) .populaire_etoile i:nth-child(5) {
  color: #e4e4e4;
}
/* Activités Marseille */
#activites {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.visite {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  flex-direction: row;
}
.image_activite {
  width: auto;
  
}
.contour {
  box-shadow: 4px 4px 11px -6px #9a9a9a;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.contour:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}
.taille {
  margin: 0;
  width: 25%;
  height: 450px;
}
.contour a {
  text-decoration: none;
  color: black;
}
.contour p {
  padding: 10px 0 10px 20px;
  font-size: 16px;
  font-weight: bolder;
}
.taille .contour p {
  padding: 10px 0 10px 20px;
  font-size: 16px;
  font-weight: bolder;
}
.img_port {
  background: url(./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  height: 390px;
  width: 305px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  background-position: 35% 65%;
  background-size: cover;
}
.img_fort {
  background: url(./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg) no-repeat;
  height: 185px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-position: 30%;
  object-fit: cover;
  max-width: 100%;
  background-size: cover;
  
}
.img_frioul {
  background: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-repeat: no-repeat;
  height: 115px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin-top: 45px;
  background-position-y: 50%;
  max-width: 100%;
  background-size: cover;
}
.img_calanques {
  background: url(./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  height: 390px;
  width: 305px;
  border-radius: 20px 20px 0 0;
  background-position-x: 40%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_ndg {
  background: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-position: 40% 15%;
  object-fit: cover;
  max-width: 100%;
  background-size: cover;
}
.img_lonchamp {
  background: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg) no-repeat;
  height: 155px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-top: 45px;
  background-position: 50%;
  object-fit: cover;
  max-width: 100%;
  background-size: cover;
}
/* footer */
footer {
  padding-bottom: 50px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}
.footer_titre {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 18px;
}
footer ul {
  padding-left: 280px;
  margin-top: 20px;
  margin-bottom: 30px;
  list-style: none;
}
footer ul a {
  text-decoration: none;
  color: black;
}
footer li {
  font-size: 16px;
  margin-top: 10px;
}
/* Medias query */
/* mobile */
@media (max-width: 760px) {
  body {
    width: 100%;
    margin: auto;
  }
  #container {
    max-width: 100%;
    padding: 0;
    margin: auto;
  }
  header {
    padding: 0 10px;
  }
  #header_top {
    display: block;
    position: relative;
    margin-bottom: 40px;
    height: auto;
  }
  header .choix {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    flex-wrap: wrap-reverse;
  }
  .navbar {
    margin: 0 40px;
  }
  #header_top li:nth-child(1) {
    padding-bottom: 10px;
    border-bottom: 2px solid #9a9a9a;
    margin-left: -30px;
    width: 50%;
  }
  #header_top li:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 2px solid #9a9a9a;
    width: 50%;
    padding-left: 20px;
  }
  #header_top li:nth-child(3) {
    margin-bottom: 30px;
    text-align: right;
    margin-top: -30px;
  }
  #header_top li:nth-child(1):hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }
  #header_top li:nth-child(2):hover {
    padding-bottom: 10px;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }
  #header_top .choix a:hover {
    border-top: none;
  }

  #main {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  #herbergements_gauche {
    background: none;
  }
  .search_btn {
    width: 75%;
  }
  .icon_localisation {
    padding: 15px 15px 0 15px;
  }
  .go_btn {
    background-color: #0065fc;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    position: initial;
    width: 50px;
  }
  .recherche_btn {
    display: none;
  }
  .icon_loupe {
    display: flex;
    justify-content: center;
  }
  /* filtre mobile */
  .filtre h3 {
    width: 100%;
  }
  .filtre {
    align-items: center;
    margin: 25px 0px 20px 0;
  }
  .filtre_selection {
    margin: 10px 5px;
    margin-left: 0;
  }
  .hebergements_grille {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-content: center;
  }
  #hebergements_droite {
    width: 100%;
    text-transform: none;
    border-radius: 0;
  }
  .plus{
    background-color: white;
  }
  #hebergements_gauche {
    background-color: white;
    border-radius: 0;
    width: 100%;
  }
  .hebergements_grille a {
    width: 80%;
  }
  #activites {
    width: 95%;
  }
  #activites h2 {
    margin-left: 15px;
  }
  .visite {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
  }
  .img_port {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-position: 35% 50%;
  }
  
  .taille {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 150px;
  }
  .img_fort {
    height: 200px;
    width: 100%;
  }
  .img_frioul {
    height: 200px;
    width: 100%;
    margin-top: 0;
  }
  .img_calanques {
    height: 200px;
    width: 100%;
    background-position: 45% 60%;
  }
  .img_ndg {
    height: 200px;
    width: 100%;
  }
  .img_lonchamp {
    height: 200px;
    width: 100%;
    margin: 0;
  }
  /* footer mobile */
  footer {
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer-titre {
    font-size: 16px;
  }
  footer li {
    font-size: 14px;
    padding-bottom: 10px;
  }
  footer ul {
    padding-left: 30px;
    margin-bottom: 0%;
  }
}
@media (min-width: 760px) and (max-width: 1250px) {
  body {
    width: 100%;
    margin: auto;
  }
  #container {
    max-width: 100%;
    padding: 0;
    margin: 10px;
  }
  #main {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .filtre_selection {
    margin-top: 20px;
  }
  .go_btn {
    background-color: #0065fc;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    position: initial;
    width: 50px;
  }
  .icon_loupe {
    display: flex;
    justify-content: center;
  }
  .recherche_btn {
    display: none;
  }
  #hebergements_droite {
    width: 100%;
    text-transform: none;
    border-radius: 0;
  }
  #hebergements_gauche {
    background-color: white;
    border-radius: 0;
    width: 100%;
  }
  .plus {
    background-color: white;
  }
  #activites {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: space-between;
  }
  .img_port {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-position: 35% 50%;
  }
  .taille {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 150px;
  }
  .contour {
    height: 100%;
    margin: 10px;
  }
  .contour p {
    font-size: 13px;
  }
  .taille .contour p {
    font-size: 13px;
  }
  .img_port {
    width: 175px;
    height: 395px;
    margin-bottom: 20px;
    background-position: 35% 50%;
  }
  .img_fort {
    height: 160px;
    width: 150px;
    background-position-x: 45%;
  }

  .img_frioul {
    height: 160px;
    width: 150px;
    margin-top: 0;
    background-position-x: 30%;
  }
  .img_calanques {
    height: 395px;
    width: 175px;
    background-position: 45% 60%;
  }
  .img_ndg {
    height: 160px;
    width: 180px;
    background-position: 50% 20%;
  }
  .img_lonchamp {
    height: 160px;
    width: 180px;
    margin-top: 0;
  }
}
